    body {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        background-size: 100% 100%;
        border: 0px solid;
        margin: 10px;
    }
    
    .sec1 {
        background-image: url("/home/wecode/Documents/moringa-school-projects/delani/img/h_img.jpg");
        background-size: 100% 100%;
        height: 700px;
        width: 1400px;
        background-repeat: no-repeat;
        padding: 20px;
        margin-left: 12%;
        /* margin-bottom: 10%; */
    }
    
    .logo {
        /* float: left; */
        margin: 15.5%;
        width: 30%;
        /* padding: 20px; */
        margin-left: 33%;
        position: 0px relative;
    }
    
    h1 {
        color: whitesmoke;
    }
    
    .yambere {
        color: whitesmoke;
    }
    
    .img1 {
        position: 0px relative;
        margin: 13%;
        padding: 20px 20px;
    }
    
    .sec3 {
        background-image: url("/home/wecode/Documents/moringa-school-projects/delani/img/s_image.jpg");
        background-size: 100% 100%;
        height: 300px;
        width: 1400px;
        /* padding: 40px;
        margin: 20%; */
        /* margin-top: 30px; */
        margin-left: 12%;
    }
    
    .psec3 {
        color: whitesmoke;
    }
    
    .sec4 {
        margin: 60px;
        padding: 20px;
        margin-left: 8%;
    }
    
    .sec5 {
        /* margin: 60px;
    padding: 20px; */
        border: 0px solid;
        width: 1350px;
        margin-left: 15%;
        /* margin-right: 50%; */
    }
    
    .sec6 {
        background-image: url("/home/wecode/Documents/moringa-school-projects/delani/img/c_image.jpg");
        background-size: 100% 100%;
        height: 500px;
        width: 1400px;
        border: 0px solid;
        width: 1350px;
        margin-left: 15%;
        color: white;
    }
    
    .sec7 {
        padding: 15px;
        margin: 20px;
    }
    
    .hsec3 {
        color: whitesmoke;
        font: roboto;
        margin: 50px;
        padding: 30px;
        margin-top: 3%;
        margin-left: 5%;
    }
    
    .spsec3 {
        color: whitesmoke;
        font: roboto;
        /* margin: 60px; */
        /* padding: 40px; */
    }
    
    #one {
        /* border: 0px solid; */
        margin: 10px;
        padding: 2px;
        width: 200px;
        height: 170px;
    }
    
    #two {
        /* border: 0px solid; */
        margin: 10px;
        padding: 2px;
        width: 200px;
        height: 170px;
    }
    
    #three {
        /* border: 0px solid; */
        margin: 10px;
        padding: 2px;
        width: 200px;
        height: 170px;
    }
    
    #four {
        /* border: 0px solid; */
        margin: 10px;
        padding: 2px;
        width: 200px;
        height: 170px;
    }
    
    #five {
        /* border: 0px solid; */
        margin: 10px;
        padding: 2px;
        width: 200px;
        height: 170px;
    }
    
    #six {
        /* border: 0px solid; */
        margin: 10px;
        padding: 2px;
        width: 200px;
        height: 170px;
    }
    
    #seven {
        border: 0px solid;
        margin: 10px;
        padding: 2px;
        width: 200px;
        height: 170px;
    }
    
    #eight {
        border: 0px solid;
        margin: 10px;
        padding: 2px;
        width: 200px;
        height: 170px;
    }
    
    .form-control {
        background: transparent;
        border-radius: 0px;
    }
    
    #row2 {
        padding-top: 40px;
        margin-left: 30px;
        margin-right: 20px;
    }
    
    #row3 {
        padding-top: 10px;
        margin-left: 30px;
        margin-right: 20px;
    }
    
    #last {
        margin: 2.5%;
        margin-left: 38%;
        /* padding: 0.5%; */
        /* display: flex;
        justify-content: center; */
        /* display: flex;
        justify-content: space-between; */
    }
    
    #primo {
        display: none;
    }
    
    #segundo {
        display: none;
    }
    
    #tertio {
        display: none;
    }
    
    #un {
        position: relative;
        top: -100px;
        /* left: 10px; */
    }
    
    #deux {
        position: relative;
        top: -100px;
        /* left: 10px; */
    }
    
    #trois {
        position: relative;
        top: -100px;
        /* left: 10px; */
    }
    
    #quatre {
        position: relative;
        top: -100px;
        /* left: 10px; */
    }
    
    #cinq {
        position: relative;
        top: -100px;
        /* left: 10px; */
    }
    
    #sisi {
        position: relative;
        top: -100px;
        /* left: 10px; */
    }
    
    #sept {
        position: relative;
        top: -100px;
        /* left: 10px; */
    }
    
    #huit {
        position: relative;
        top: -80px;
        /* left: 10px; */
    }